@use "variables";

.player-ctn {
    position: absolute;
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    
    .player-bd {
        width: 50px;
        height: 80px;
        order: 2;
        position: relative;

        // Seta a cor padrao caso nao tenho uma cor
        // background: $clr-primary;
    }

    .player-nick {
        font-size: .9rem;
        color: variables.$txt-clr;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background: variables.$clr-primary;
        padding: 5px;
        border-radius: 5px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}